<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Admin Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link th:href="@{/admin/css/style.css}" rel="stylesheet">
</head>

<body>
<!-- Sidebar -->
<div th:replace="~{admin/common/menu}"></div>
<main class="main-content" id="main-content" th:fragment="discount-content">
    <div th:replace="~{admin/common/header}"></div>


    <h1>Create New Discount</h1>
    <form th:action="@{/admin/discounts/create}" th:object="${discountDTO}" method="post">
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" required><br>

        <label for="discountPercent">Discount Percent:</label>
        <input type="number" th:field="*{discountPercent}" min="0" max="100" required><br>

        <label for="description">Description:</label>
        <textarea th:field="*{description}"></textarea><br>

        <button type="submit">Create</button>
    </form>
</main>
</body>
</html>

